{% comment %}
Learn how to add more credit card icons to your online store footer... 
https://help.shopify.com/themes/customization/store/add-credit-card-icons
{% endcomment %}

<p class="payment-icons">
  {% for type in shop.enabled_payment_types %}
    {{ type | payment_type_svg_tag: class:'payment-icon' }}
  {% endfor %}
</p>